<!-- <div class="container">
  <h2 class="input">
      Please Input Your Data
  </h2>
  <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
      <label for="name">
      Name: 
      </label>
      <input id="name" formControlName="name" placeholder="Please input your name">
      <div class="validation-error" *ngIf="addUserForm.get('name')?.invalid && addUserForm.get('name')?.touched">
      Name Required
      </div>
      <br>
      <label for="email">
      Email:
      </label>
      <input id="email" formControlName="email" placeholder="Please input your email">
      <div class="validation-error" *ngIf="addUserForm.get('email')?.invalid && addUserForm.get('email')?.touched">
      Valid email Required
      </div> 
      <br>
      <label for="city">
      City:
      </label>
      <input id="city" formControlName="city" placeholder="Please input your city">
      <div class="validation-error" *ngIf="addUserForm.get('city')?.invalid && addUserForm.get('city')?.touched">
          Please fill city column
      </div> 
      <br>
      <label for="province">
          Province:
      </label>
      <input id="province" formControlName="province" placeholder="Please input your province">
      <div class="validation-error" *ngIf="addUserForm.get('province')?.invalid && addUserForm.get('province')?.touched">
          Please fill province column
      </div>
      <br>
      <label for="zipCode">
          Zip Code:
      </label>
      <input id="zipCode" formControlName="zipCode" placeholder="Please input your zip code">
      <div class="validation-error" *ngIf="addUserForm.get('zipCode')?.invalid && addUserForm.get('zipCode')?.touched">
          Please fill zip code column
      </div>
      <br> 
      <button type="submit" [disabled]="addUserForm.invalid">
      Submit
      </button>
  </form>

  <table class="user-table">
      <thead>
          <tr>
            <th>
              No
            </th>
              <th>
                  Nama
              </th>
              <th>
                  Email
              </th>
              <th>
                  Address
              </th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let data of dataUser; index as i">
            <td>{{i + 1}}</td>
            <td>{{data.name}}</td>
            <td>{{data.email}}</td>
            <td>{{data.address.province}}, {{data.address.city}}, {{data.address.zipcode}}</td>
          </tr>
      </tbody>
  </table>
</div> -->


<app-input [formGroup]="addUserForm" (onSubmit)="submitData()"></app-input>
<app-table [dataUsers]="dataUsers"></app-table>

<!-- <nav>
  <a [routerLink]="['/input']">Input Form</a>
  <a [routerLink]="['/table']">Table</a>
</nav>

<router-outlet></router-outlet> -->

